/3rdParty/bccrypto-net-1.7/crypto/bin/Debug
/3rdParty/bccrypto-net-1.7/crypto/obj/Debug
/Deja.Crypto/bin/Debug
/Deja.Crypto/obj/Debug
/OutlookPrivacyPlugin.Security/bin/Debug
/OutlookPrivacyPlugin.Security/obj/Debug
/OutlookPrivacyPlugin.v12.suo
/OutlookPrivacyPlugin/OutlookPrivacyPlugin.csproj.user
/OutlookPrivacyPlugin/bin/Debug
/OutlookPrivacyPlugin/obj/Debug
/TestApp/bin/Debug
/TestApp/obj/Debug
